@font-face {
    font-family: 'colaborate';
    src: url('../assets/fonts/ColabBol-webfont.eot');
    src: url('../assets/fonts/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/ColabBol-webfont.woff') format('woff'),
         url('../assets/fonts/ColabBol-webfont.ttf') format('truetype'),
         url('../assets/fonts/ColabBol-webfont.svg#colaborate-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}