.Main,
html,
body {
  height: auto;
}

.Placeholder {
  top: auto;
  transform: none;
  margin: 20px;
  padding: 0;
  animation: none;
  opacity: 1;
}

h1 {
  font-size: 11vw;
  margin-top: 0.25em;
  margin-bottom: 0;
  text-indent: 0;
  line-height: 1.1;
}
h2 {
  font-size: 5vw;
  line-height: 1.1;
}

p {
  font-size: 1em;
  word-wrap: break-word;
}

header h2 {
  font-size: 5vw;
  line-height: 1.5;
  margin: 0.5em 0 0.5em 0;
}

h1, h2 {
  left: 0;
  &::before {
    display: none;
  }
}