doctype html
html(lang="en")
  //- Defaults for page variables
  -var pageTitle = "Nearest suburbs"
  -var mainMenu = true
  -var baseScripts = ['scripts-all.js']
  //- Optional override of default variables
  block Vars
  -var allScripts = baseScripts
  -if (typeof(scripts) !== "undefined") {
    allScripts = baseScripts.concat(scripts)
  -}
  head
    title= pageTitle
    -if (production) {
      link(href="styles-all.min.css",rel="stylesheet")
    -} else {
      link(href="styles-all.css",rel="stylesheet")
    -}
    link(href="https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400",rel="stylesheet",type="text/css")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
  body.load
    div.Main
      block MainContent
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js",type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js",type="text/javascript")
    -if (production) {
      script(src="scripts-all.min.js",type="text/javascript")
    -} else {
      each script in baseScripts
        script(src="#{script}",type="text/javascript")
    -}