@function ContactForm-backgroundColour($opacity) {
  @return rgba(225,239,253, $opacity);
}

$ContactForm-highlight: rgba(255,0,0,0.6);
$ContactForm-background: #FFFFFF;

.Form--async {
  .FormBlock--isosync {
    display: block;
  }
}

fieldset {   
  margin: 0;
  background-color: ContactForm-backgroundColour(0.8);
  border: none;
  width: 126%;
  max-width: 92vw;
  
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  white-space: nowrap;
  
  legend {
    display: none;
  }
}

h3.ModalBlock {
  display: block;
  background-color: #FFFFFF;
  margin: 0 0 1em;
  padding: 6px 24px;
  line-height: 1.5;
  font-size: 1.5em;
  font-family: "colaborate",Helvetica,Arial,sans-serif;
  color: #fff;
  
}

.Form-controls {
  padding: 0 30px 0 40px;
  text-align: right;
}

.FormBlock {
  input:not([type="submit"]),
  textarea {
    font-family: 'Merriweather', 'Times New Roman', 'Roman', serif;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5;
    
    outline: none;

    border: 3px solid #DADADF;
    
    &:active,
    &:focus {
      border: 3px solid $ContactForm-highlight;
    }
  }

  input {
    width: 92%;
    padding: .5em 4%;
  }
  
  textarea {
    width: 96%;
    padding: 2%;
  }
  
  label {
    display: inline-block;
    font-size: 1em;
    width: 48%;
    padding: 2%;
    font-family: "colaborate",Helvetica,Arial,sans-serif;
    text-indent: 1%;
    
    text-transform: uppercase;
    
    white-space: normal;
    &:nth-of-type(1) {
      padding-left: 0;
    }
    
    &:nth-of-type(2) {
      padding-right: 0;
    }
  
  }
  
  &--fullWidth {
    label {
      display: block;
      padding: 0;

      width: 96%;
      padding: 2%;

    }
  }
    
}

.Form--async .FormBlock--isosync {
  display: none;
}

.FormResults {
  table {
    margin: 24px 0;
    width: 126%;
    
    max-width: 96vw;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    td {
      padding: 2%;
    }
    thead td {
      background-color: #0059bf;
      color: #fff;
    }
  }
}
