extends _layouts/_placeholder
block Vars
  -mainMenu = false
  -pageTitle = "Testing 123"
block MainContent
    div.Placeholder
      header
        h1
          | Surrounding suburbs
      p
        | Retrieves a list of surrounding suburbs in Australia based on a subrub specified during lookup.
      h2 Enter your suburb
      p Enter in your suburb below, results will be returned for the nearest 20 suburbs to your location.
      div.Form.Form--asyncHook
        form(action="http://dev.kashis.com.au/v1.0/nearest-suburb/find",method="post")
          fieldset.ModalBlock.FormBlock.FormBlock--fullWidth
            legend Target suburb
            label Suburb name
              input(name="suburb",type="text",maxlength="50",placeholder="eg. Crows Nest",autocomplete="suburb")
            div.Form-controls.ModalBlock.FormBlock--isosync
              input(type="submit",value="Send").Button.Button--action
      div.FormResults
        table.SuburbResults
          thead
            tr
              td Suburb name
              td Postcode
              td State
              td Centre coordinates
          tbody